// ============================================================
// Shared UI - Call Elements
// There are some elements' parts that should be called through
// scss variations only and must be placed before shared-ui loads.
// $summary-image: '';

$summary-image: '../images/blc-summary@2x.png';
$summary-image-sm: '../images/blc-summary@2x.png';

// ========================================
// Overwrite image size
$summary-image--width:  128px;
$summary-image--height: 128px;

// ========================================
// Overwrite image position
$summary-image--position-x: 30px; // Horizontal position (only)
$summary-image--position-y: center; // Vertical position (only)
// ============================================================
// Shared UI
// Import original shared-ui styles.
@import "../../node_modules/@wpmudev/shared-ui/scss/shared-ui.scss";
@import "admin-ui/header";

// Links page styles.
@import "admin-ui/links";

// Settings page styles.
@import "admin-ui/settings";