/**
 *
 * Custome Style to adjust some rules.
 * Default: .sui-2-9-5 .sui-wrap 
**/

.sui-2-9-5 .sui-wrap .sui-margin-x--0 {
  margin-right: 0%;
  margin-left: 0%;
}

/* Center sui Description */
.sui-2-9-5 .sui-wrap .sui-tag.sui-description {
  max-width: max-content;
  text-align: center;
  margin: 0 auto;
}

.sui-2-9-5 .sui-wrap .sui-full-img-width {
  width: 100%;
}

.sui-2-9-5 .sui-wrap .sui-content-left {
  text-align: left;
}

.sui-2-9-5 .sui-wrap .sui-toggle-inline-block {
  display: inline-block;
}

/* - - - - - - - - - - - Global - - - - - - - - - - - */
.sui-2-9-5 .sui-wrap .sui-box-settings-row .sui-col-mr-l-auto {
  margin-left: auto;
}

.sui-2-9-5 .sui-wrap .sui-checkbox input+span+span {
  font-size: 13px;
}

/*  ** No MARGIN **  */
.sui-2-9-5 .sui-wrap .sui-margin-top--0 {
  margin-top: 0% !important;
}

.sui-2-9-5 .sui-wrap .sui-margin-right--0 {
  margin-right: 0% !important;
}

.sui-2-9-5 .sui-wrap .sui-margin-left--0 {
  margin-left: 0% !important;
}

.sui-2-9-5 .sui-wrap .sui-margin-bottom--0 {
  margin-bottom: 0% !important;
}

/*  ** No PADDING **  */
.sui-2-9-5 .sui-wrap .sui-padding-top--0 {
  padding-top: 0% !important;
}

.sui-2-9-5 .sui-wrap .sui-padding-right--0 {
  padding-right: 0% !important;
}

.sui-2-9-5 .sui-wrap .sui-padding-left--0 {
  padding-left: 0% !important;
}

.sui-2-9-5 .sui-wrap .sui-padding-bottom--0 {
  padding-bottom: 0% !important;
}

.sui-2-9-5 .sui-box .sui-dummy-spacing--1px {
  padding: 1px;
}

.sui-2-9-5 .sui-box .sui-spacing-margin-bottom--20 {
  margin-bottom: 20px;
}

.sui-2-9-5 .sui-box .sui-spacing-padding-bottom--20 {
  padding-bottom: 20px;
}

.sui-2-9-5 .sui-box .sui-spacing-padding-bottom--30 {
  padding-bottom: 30px;
}

.sui-2-9-5 .sui-box .sui-spacing-padding-bottom--40 {
  padding-bottom: 40px;
}

.sui-2-9-5 .sui-wrap .sui-mt-5 {
  margin-top: -5px !important;
}

/* - - - - - - - - - - - Global - - - - - - - - - - - */
/* For modal */
.sui-2-9-5 .sui-modal .sui-box .sui-spacing-margin-bottom--20 {
  margin-bottom: 20px;
}

.sui-2-9-5 .sui-modal .sui-box .sui-spacing-padding-bottom--20 {
  padding-bottom: 20px;
}

.sui-2-9-5 .sui-modal .sui-box .sui-spacing-padding-bottom--30 {
  padding-bottom: 30px;
}

.sui-2-9-5 .sui-modal .sui-box .sui-spacing-padding-bottom--40 {
  padding-bottom: 40px;
}

/*  */
.sui-2-9-5 .sui-modal .sui-box .sui-spacing-margin-top--20 {
  margin-top: 20px;
}

.sui-2-9-5 .sui-modal .sui-box .sui-spacing-padding-bottom--10 {
  padding-bottom: 10px;
}

.sui-2-9-5 .sui-modal .sui-box .sui-spacing-padding-bottom--10-imp {
  padding-bottom: 10px !important;
}

.sui-2-9-5 .sui-modal .sui-box .sui-spacing-padding-top--20 {
  padding-top: 20px;
}

.sui-2-9-5 .sui-modal .sui-box .sui-spacing-padding-top--30 {
  padding-top: 30px;
}

.sui-2-9-5 .sui-modal .sui-box .sui-spacing-padding-top--40 {
  padding-top: 40px;
}

/* / For modal */

/* Display Flex for last element to avoid getting it disappeared */
.last-element {
  display: flex;
}

.sui-2-9-5 .sui-wrap .sui-summary .sui-summary-details [class*="sui-icon-"] {
  top: unset !important;
  left: unset !important;
}

.sui-2-9-5 .sui-wrap .sui-summary .sui-summary-details .sui-tooltip {
  top: -20px !important;
}

.sui-2-9-5 .sui-wrap .sui-padding-15-40 {
  padding: 15px 40px !important
}

.sui-2-9-5 .sui-wrap .sui-summary .sui-extra-CSS-image {
  background-size: 212px;
  background-position: center;
  background-repeat: no-repeat;
  min-width: 222px;
  min-height: 212px;
}

.sui-2-9-5 .sui-wrap .sui-summary:not(.sui-unbranded):not(.sui-summary-sm):not(.sui-rebranded) {
  background-position: 50px center;
}

.sui-2-9-5 .sui-wrap .float-right {
  float: right;
}

#last-checked-date {
  padding-right: unset !important;
}
