#sui-success-tag, #sui-warning-tag {
  margin-left: 10px;
}

#pagination-wrap {
  margin-left: 10px;
  margin-top: -25px;
}

#filter-open {
  margin-left: 10px;
}

#filter-span {
  bottom: -3px;
}

#filter-apply-button {
  margin-left: 10px;
}

#chevron-icon {
  margin-top: -30px;
}

.blc-filter-horizontal {
  .blc-show-inline{
    .blc-inline-elm {
      display:inline-block;
      .sui-checkbox {
        margin-right: 5px;
      }
    }
    .blc-filter-label {
      margin-right: 10px;
    }
    .blc-filter-dropdown {
      min-width: 180px;
    }
    .blc-filter-funnel {
      .blc-pagination-wrap {
        button {
          height: 30px;
        }
      }
    }
  }
}

table.blc-status-details {
  border:none !important;
  tr {
    td.sui-table-item-title,
    td.sui-description{
      border:none !important;
      padding:0px 10px !important;
      margin:0px 10px !important;
      height: 40px !important;
    }
    td.sui-description{
      padding-top:9px !important;
    }
    td.sui-table-item-title{
      width: 25% !important;
    }
  }
  tr:nth-child(odd){background-color: #f2f2f2;}
  tr:hover {background-color: #ddd;}
}

.sui-tab-content.blc-issue-details,
.sui-accordion-item-content .blc-redirect-details {
  .sui-box{
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    .sui-box-header{
      border-bottom: none;
      padding-bottom: 0px;
    }
    .sui-box-body{
      padding-top: 12px;
      .sui-notice-icon {
        margin-top: 5px;
      }
      .blc-url-fixer-panel {
        border: 1px solid #ddd;
        border-radius: 5px;
        margin-top: -35px;
        .blc-url-fixer-form {
          padding: 20px;
        }
        .blc-url-fixer-suggestions {
          background-color: #f8f8f8;
          padding: 20px;
          .blc-url-fixer-suggestions-lists {
            p {
              margin-top: 3px;
              margin-bottom: 3px;
            }
            .sui-notice-actions {
              margin-top: 13px;
            }
            .sui-notice{
              margin-bottom: 15px;
              .sui-notice-content{
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
              }
            }
          }
        }
      }
      .btn-right{
        margin-right: 10px;
      }
    }
  }
}

.sui-accordion-item-content .blc-redirect-details {
  .blc-url-fixer-panel{
    margin-top: 0px !important;
  }
}

.search_filter_ending_hr {
  margin-bottom: -20px !important;
}

#header_issue_filter_save_search_name {
  max-width: 105px !important;
}

.blc-advance-issue-filter {
  display: none;
}

.blc-bulk-url-edit {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
}

.blc-bulk-url-edit-wrap {
  display: none !important;
}

.blc-bulk-url-edit-wrap.visible {
  display: block !important;
}

.issue-table {
  margin: 0px !important;
}

.sui-box.blc-issue-settings {
  .sui-box-body {
    .sui-form-field {
      margin-bottom: 5px;
    }
  }
  hr {
    margin: auto 50px;
  }
}

.sui-box.blc-issue-notification{
  .sui-box-body.blc-border-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 45px;
    .blc-recipient-area {
      .sui-notice {
        margin-bottom: 10px;
        .sui-notice-content{
          -webkit-box-shadow: none;
          -moz-box-shadow: none;
          box-shadow: none;
          border: 1px solid #ddd;
          .blc-recipient-title{
            display: inline-block;
            font-weight: 500;
            margin-right: 20px;
            width: 30%;
          }
          .blc-recipient-email{
            display: inline-block;
            color: #888;
            width: 60%;
          }
        }
      }
    }
  }
  .author-notification-desc{
    margin-left: 45px;
  }
  .sui-box-settings-row::after{
    background-color: transparent !important;
  }
  hr {
    margin: auto 50px;
  }
}



