.sui-box.link-tweaks{
  #sui-ace-editor{
    margin-left: 15px;
    margin-right: 15px;
    border-radius: 5px;
    border: 1px solid #e6e6e6;
    .ace_gutter{
      background-color: #F2F2F2;
      color: #878787;
    }
    .ace_scroller{
      background-color: #FAFAFA;
    }
  }
  .sui-ace-editor-desc{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -15px;
  }
  hr{
    margin: auto 50px;
  }
}